.ticketPanel {
    width: 100%;
    height: 100%;
    font-family: SimSun;
    font-weight: bold;
    color: #000;
}

/* 红色票证 */
.ticketPanel.ticketRedPanel {
    color: #a45b5d;
}

.ticketRedPanel .hasChoose-ul li a {
    color: #a45b5d;
}

.ticketRedPanel .hasChoose-ul li a:hover {
    color: #a45b5d;
}

.ticketRedPanel .tabelPanel {
    border: 2px solid #a45b5d;
}

.ticketRedPanel .table tr td {
    border: 1px solid #a45b5d;
}

.ticketPanel.ticketRedPanel .black {
    color: #000;
}

/* 产品票证 */
.ticketProductPanel .table tr td.paddingNone {
    padding: 16px 2px;
}

.ticketProductPanel .table tr td.textCenter {
    width: 120px;
    text-align: center;
    text-align-last: center;
    line-height: 26px;
}

.mark-void {
    position: absolute;
    left: 38%;
    top: 83px;
}

/* 工具按钮区 */
.toolPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #99aeca;

}

.toolPanel p {
    font-size: 16px;
    color: #8b95a3;
}

/* 按钮组 */
.btnPanel .btn {
    outline: none;
    border: 1px solid transparent;
    padding: 8px 15px;
    border-radius: 4px;
}

.btn-print {
    background: #247bff;
    color: #fff;
}

.btn-print:hover {
    background: #438bf7;
    color: #fff;
    cursor: pointer;
}

.btn-back {
    background: #b2c8ea;
    color: #fff;
    cursor: pointer;
}

.btn-back:hover {
    background: #aac8f7;
    color: #fff;
}

/* 内容总区域 */
.ticketMainPanel {
    width: 100%;
    height: 100%;
    margin-top: 8px;
}

/* 主内容区 */
.ticketContentPanel {
    background: #fff;
    padding: 60px;
    width: 788px;
    margin: 0 auto;
    position: relative;
}

/* 票证标题 */
.ticketContentPanel header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.textPanel {
    letter-spacing: 4px;
    text-align: center;
    line-height: 51px;
}

.headText {
    font-size: 36px;
}

.subHeadText {
    font-size: 22px;
}

.headNumberPanel {
    text-align: right;
    margin-top: 2px;
}

.headNumber {
    font-size: 22px;
    color: #fc060b;
    vertical-align: middle;
    margin-right: 10px;
}

.ticketContentPanel .codeImg img {
    width: 60px;
    height: 60px;
}

/* 表格区域 */
.tabelPanel {
    margin-top: 6px;
    border: 2px solid #000;
    font-size: 14px;
    margin-bottom: 6px;
}

.table tr td {
    padding: 16px 16px;
    border: 1px solid #000;
}

.table.table-pd tr td {
    padding: 12px 6px;
    border: 1px solid #000;
}

.table tr td {
    text-justify: inter-ideograph;
    text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
    /*兼容firefox*/
    text-justify: distribute-all-lines;
    /*兼容ie*/
}

.table tr td.textCenter {
    text-align: center;
    text-align-last: center;
    width: 100px;
}


.table tr td.tdCenter {
    text-align: center;
    text-align-last: auto;

}

.table tr td.tdLeft {
    text-align: left;
    text-align-last: auto;
}

.table tr td.limitHeight120 {
    height: 102px;
}

.table tr td.line3 {
    letter-spacing: 5px;
    line-height: 24px;
    text-align: center;
    text-align-last: center;
}

.table tr td.line3-justify {
    line-height: 24px;
    text-align-last: justify;
    text-justify: inter-ideograph;
    text-justify: distribute-all-lines;
}

/* 城市填写面板 */
.cityPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}

.cityPanel-ul {
    overflow: auto;
    width: 100%;
    margin-bottom: 16px;
}

.cityPanel-ul.cityPanel-ul-product {
    margin-bottom: 0;
}

.cityPanel-ul li {
    float: left;
    width: 25%;
}

.cityPanel-ul.cityPanel-ul-product li {
    float: left;
    width: 33.33%;
}

.cityPanel input {
    width: 75px;
    text-align: center;
}

.cityPanel-ul.cityPanel-ul-product input {
    width: 100%;
}

/* 可选择文本 */
.subTextPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.subTextPanel span {
    display: inline-block;
    white-space: nowrap;
}

.hasChoose {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hasChoose-ul li {
    float: left;
    position: relative;
    margin: 0 5px;
}

.hasChoose-ul li a {
    color: #000;
}

.hasChoose-ul li a:hover {
    color: #000;
    cursor: pointer;
}

.selected .icon-bigCheck {
    width: 30px;
    height: 30px;
    background: url("../images/ticketImg/select_2.png") no-repeat;
    display: inline-block;
    position: absolute;
    left: 6px;
}

/* 小复选框区 */
.hasChoose-smallcheck-ul {
    overflow: auto;
    width: 100%;
}

.icon-checkBox-normal {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    display: inline-block;
}

.selected .icon-checkBox {
    width: 10px;
    height: 10px;
    background: url("../images/ticketImg/select_1.png") no-repeat;
    display: inline-block;
}


.hasChoose-smallcheck-ul li {
    float: left;
    margin-right: 35px;
    white-space: nowrap;
}

/* 小间距复选框 */
.hasChoose-smallcheck-ul.autopd-ul li {
    margin-right: 5px;
    font-weight: normal;
    color: #333;
}

.hasChoose-smallcheck-ul.autopd-ul.normalFont-ul li {
    margin-right: 20px;
}

.hasChoose-smallcheck-ul.normalFont-ul li {
    font-weight: normal;
    color: #333;
}

.hasChoose-smallcheck-ul li input {
    vertical-align: middle;
}

/* 居中的复选框 */
.tdCenter .hasChoose-smallcheck-ul {
    display: flex;
    justify-content: center;
}

.tdCenter .hasChoose-smallcheck-ul li {
    margin-right: 35px;
}

/* 空白填写区 */
.blankPanel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subBlankBorderPanel {
    display: inline-block;
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    text-align: center;
    text-align-last: center;
}

.subBlankBorderPanel input {
    width: 100%;
}

.blankBorderPanel textarea {
    width: 100%;
}

/* 盖章区 */
.sealAreaPanel {
    padding: 2px 12px;
}

.sealAreaPanel .topPanel {
    text-align: left;
    margin-bottom: 14px;
    margin-left: 14px;
}

.sealAreaPanel .bottomPanel {
    text-align: right;
    margin-right: 22px;
}

/* 日期区 */

.datePanel {
    margin: 10px 0;
}

.datePanel-left {
    text-align: left;
    text-align-last: left;
    display: flex;
    margin: 0;
}

.datePanel-right {
    text-align: right;
    text-align-last: right;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.datePanel input {
    width: 43px;
}

.datePanel input.year {
    width: 40px;
}

.datePanel input.other {
    width: 23px;
}

.signaturePanel {
    height: 90px;
    display: flex;
    flex-direction: column;
}

.signaturePanel .blankBorderPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blankBorderPanel {
    display: inline-block;
    width: 100%;
    text-align: left;
    text-align-last: left;
    word-break: break-all;
}

.align-left {
    text-align: left;
    margin-right: 5px;
}

.ticketPanel .blankBorderPanel input {
    width: 100%;
    text-align: left;
}

/* 特别类 */
.limitWidth30 {
    width: 30px;
}

.limitWidth35 {
    width: 35px;
}

.limitWidth40 {
    width: 40px;
}

.limitWidth50 {
    width: 50px;
}

.limitWidth60 {
    width: 60px;
}

.limitWidth70 {
    width: 70px;
}

.limitWidth85 {
    width: 85px;
}

.limitWidth80 {
    width: 80px;
}

.limitWidth90 {
    width: 90px;
}

.limitWidth100 {
    width: 100px;
}

.limitWidth110 {
    width: 110px;
}

.limitWidth115 {
    width: 115px;
}

.limitWidth120 {
    width: 120px;
}

.limitWidth140 {
    width: 140px;
}

.limitWidth150 {
    width: 150px;
}

.limitWidth155 {
    width: 155px;
}

/* 
.limitWidth120 {
    min-width: 120px;
} */

.limitWidth200 {
    width: 200px;
}

.letterSp6 {
    letter-spacing: 6px;
}

.limitWidth300 {
    width: 300px;
}

.limitHeight70 {
    min-height: 70px;
}

.limitHeight120 {
    min-height: 120px;
}

.ticketPanel a {
    cursor: pointer;
}

.ticketPanel input {
    outline: none;
    border: none;
    text-align: center;
}

.ticketPanel textarea {
    outline: none;
    border: none;
    text-align: left;
}

/* 注明说明区 */
.ticketContentPanel footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    color: #000;
    font-size: 14px;
    text-align: left;
}

.ticketContentPanel footer ol {
    margin-left: 20px;
}

.ticketContentPanel footer ol li {
    list-style: decimal;
    margin-bottom: 5px;
}

/* 工作单区域 */
.headNumberPanel {
    text-align: right;
    margin-top: 2px;
    margin-bottom: 14px;
}

.ticketContentPanel .subHeaderPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
    margin-top: 14px;
}

.ticketContentPanel .boldText {
    font-weight: bold;
}

.ticketContentPanel .hasChoose-smallcheck-ul.boldText li {
    font-weight: bold;
}

.table tr td.limitWidth {
    width: 15px;
    padding: 16px 16px;
}

.table tr td.limitPd8 {
    padding: 8px;
}

.table tr td.limitPd7 {
    padding: 7px;
}

.table tr td.limitPd0 {
    padding: 0px;
}

.table .whiteSpace {
    white-space: nowrap;
}

.table .line-left {
    text-align: left;
    text-align-last: left;
    line-height: 24px;
}

.table .pd-lr40 {
    padding: 0 40px;
}